{% extends "package/resource_edit_base.html" %}
{% block styles %}
    {{ super() }}
    {% asset 'dq-assistant/dq-css' %}
{% endblock %}

{% block subtitle %}{{ h.dataset_display_name(pkg) }} - {{ h.resource_display_name(res) }}{% endblock %}
{% if h.is_dq_assistant_enabled() %}
    {% block primary_content_inner %}
        {% block dq_assistant_button %}
            {% if not report or not report.get('cached', False) %}
              {% set action = h.url_for('dq_assistant.resource_report', dataset_id=pkg.name, resource_id=res.id) %}
                <form method="post" action="{{ action }}">
                  <button class="btn btn-primary dq-assistant-btn">
                    <i class="fa fa-rocket"></i> {{ _('Check with AI') }}
                  </button>
                </form>
            {% else %}
                <button class="btn btn-primary dq-assistant-btn disabled">
                    <i class="fa fa-rocket"></i> {{ _('Check with AI') }}
                    <i class="fa fa-question-circle icon-question-sign muted"
                       title="AI report is cached and the ability to recheck this resource will be unblocked after the new datastore upload."
                       data-bs-toggle="tooltip" data-toggle="tooltip"></i>
                  </button>
            {% endif %}
        {% endblock %}
        {% if report and not report.get('cached', False)%}
            <span class="label label-default">RPM left: {{ report.get('rpm_left') }}</span>
            <span class="label label-default">TPM left: {{ report.get('tpm_left') }}</span>
            <br>
        {% endif %}

        {% if report and report.get('summary') %}
            <div class="alert alert-{{ report.get('severity', 'info') }}" role="alert">{{ report.get('summary') }}</div>
        {% endif %}
        {% if report and report.get('report', []) %}
            <div class="table-responsive">
            <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th class="col-xs-*">Severity</th>
                      <th class="col-lg-6">Row Text</th>
                      <th class="col-lg-5">Message</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for item in report.report %}
                    <tr>
                        <td>
                            <div class="alert alert-{{ item.get('severity', 'info') }}" style="margin-bottom: 0; padding: 10px; text-align: center;">{{ item.get('severity') }}</div>
                        </td>
                      <td>{{ item.get('data_row') }}</td>
                      <td>{{ item.get('message') | urlize }}</td>
                    </tr>
                   {% endfor %}
                  </tbody>
                </table>
              </div>
        {% endif %}
    {% endblock %}
{% endif %}

